{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="なまはげのリンク" />
  <meta property="og:type" content="website" /> <!--またはwebsite, blog-->
  <meta property="og:url" content="https://namahage.link" />
  <meta property="og:image" content="https://namahage.link{% static "img/namahage.jpg" %}" />
  <title>Hello World</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>
</head>
<body>
<h1>Hello World</h1>

<a href="http://b.hatena.ne.jp/entry/s/namahage.link" class="hatena-bookmark-button" data-hatena-bookmark-title="なまはげ" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</body>
</html>
